<app-header titulo="cards"></app-header>

<ion-content>

    <ion-card color="danger">
        <ion-card-header>
        <ion-card-title>Card</ion-card-title>
        <ion-card-subtitle>Card imagen</ion-card-subtitle>
  
    </ion-card-header>
    <ion-img src="assets/icon/imagen.jpg"></ion-img>
    <ion-card-content>
        When using a router, it specifies the transition animation 
        when navigating to another page using
    </ion-card-content>
    </ion-card>










<ion-card color="primary">
<ion-card-header>

    <ion-card-subtitle>My subtitlle</ion-card-subtitle>
    <ion-card-subtitle>My title</ion-card-subtitle>
</ion-card-header>

<ion-card-content>
    When using a router, it specifies the transition animation 
    when navigating to another page using
</ion-card-content>


</ion-card>
</ion-content>


<ion-card color="danger">
<ion-item>

        <ion-icon slot="start" name="pin--outline"></ion-icon>
    
    <ion-label>Awesome Label</ion-label>
    
</ion-item>

</ion-card>